
section.header{
    color:#fff;
    background-image:url("../images/general/BackLockedScreen3.jpg");
}

section.header img{
    position:absolute;
    right:0;
    bottom:-5em;
    display:block
}
.TV_Icon{
    height:22px;
    width:auto;
    float:left;
}

.shadowdiv{
    box-shadow:0 2px 8px rgba(0,0,0,.6);
    padding: 10px;
}
.newsletter-submit{
    margin-top:1.3em;
    margin-bottom:1.3em;
    color:#b4ae24;
}

section.header .slogan{
    font-size:2.7em;
    font-family:"Open Sans",sans-serif;
    width:auto;
    line-height:110%;
    margin-top:1.3em;
    margin-bottom:1em;
    text-align: center
}

section.header .subtitle{
    font-size:1.1em;
    margin-top:1em;
    line-height:30%
}

.btnAssistance{
    /*background-color:#b4ae24;*/
    color:#b4ae24;
    width:22px;
    height:auto;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
    display:inline;
}

.assistance{
    width:33px;
    height:auto;
}

.newsletter{
    text-align: center;
}

section.header .container{
    width:auto;
    height:auto
}

.customers-logo {
    margin:0.1em;
    display:block;
    text-align: center
}

.iconemetier{
    width: 70px;
    height: 70px;
    fill:#b4ae24;
}

section.itemsBI{
    padding: 10px;
    text-shadow: 20px 10px 20px black;
}

.iconeEmail{
    width: 100px;
    height: 100px;
    color: #b4ae24;
    fill: #b4ae24;
}

.iconeEmail:hover{
    width: 102px;
    height:120px;
    transition-duration: 0.8s;
}

.textProjet{
    text-align: center;
}

.iconeProjet{
    width: auto;
    height: 210px;
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
}

.partners-logo {
    margin:1em;
    display:flex;
    text-align: center;
}

.item img {
    width:250px
}

nav #menu-button svg{
    margin:0;
    width:100%;
    float:right;
    display:block;
    color:#b4ae24;
}

nav #menu-button p{
    display:none;
}

h2{
    margin-bottom:0;
    color:#b4ae24;
    text-align:center;
}

h3{
    color:#b4ae24;
}

p{
    text-align:center;
}
section.itemsCRM{padding-top:0}

section.itemsBI{padding-top:0}

.courrier{
    color:#fff;
    background-image:url("../images/general/BackLockedScreen3.jpg");
    padding-hight: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}
.courriertext {
    color: #fff;
    text-align: center;
}
.btnAssistance{
    height: 57px;
    width: auto;
}
.newsletter-form input#nom{
    width:77%;
    display:inline-flex;
    border-radius:0.4em 0 0 0.4em;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:7px;
    margin-bottom: 15px;
    float: inherit;
}


.newsletter-form input#email{
    width:90%;
    display: auto;
    border-radius:0.4em 0 0 0.4em;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:7px;
    float:inherit;
    margin-bottom: 15px;

}


.shadowchamp{
    box-shadow:0 2px 8px rgba(0,0,0,.6);
    padding: 10px;

}
.imgCourrier{
    width:auto;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:15px;

}
footer{
    background-color:#353638;
    height:auto;
    padding-top:5em;
    padding-bottom:2em;
}
footer .container{
    padding-top:0;
    background-color:transparent;
}
footer p {
    margin: 2em;
    line-height: 3em;
    text-align: center;
    margin-bottom: 1em;
}